.position-r, .awemenu-nav, .awemenu-nav .awemenu-container, .awemenu-nav .awemenu, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu .awemenu-item, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu .awemenu-item, .awemenu-left .awemenu .awemenu-item, .awemenu-outleft .awemenu .awemenu-item, .awemenu-right .awemenu .awemenu-item, .awemenu-outright .awemenu .awemenu-item, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item {
  position: relative;
}

.position-f, .awemenu-standard.awemenu-sticky, .awemenu-sticky.awemenu-top, .awemenu-top, .awemenu-outleft .awemenu, .awemenu-outleft.awemenu-sticky, .awemenu-outright .awemenu, .awemenu-outright.awemenu-sticky, .awemenu-bottom, .awemenu-mobile-standard.awemenu-sticky, .awemenu-sticky.awemenu-mobile-top, .awemenu-mobile-top, .awemenu-mobile-bottom, .awemenu-mobile-outleft .awemenu, .awemenu-mobile-outright .awemenu, .awemenu-mobile-outleft.awemenu-sticky, .awemenu-sticky.awemenu-mobile-outright {
  position: fixed;
}

.position-a, .awemenu-standard .awemenu > .awemenu-item .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu, .awemenu-left .awemenu .awemenu-item .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu, .awemenu-right .awemenu .awemenu-item .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu, .awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu, .awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu, .awemenu-mobile-bottom .awemenu {
  position: absolute;
}

.list-n, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  list-style: none;
}

.pad-0, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  padding: 0;
}

.mar-0, .awemenu-nav .awemenu, .awemenu-nav .awemenu-submenu {
  margin: 0;
}

.block, .awemenu-nav:after, .awemenu-nav:before, .awemenu-nav.awemenu-active .awemenu, .awemenu-nav .awemenu-container:after, .awemenu-nav .awemenu-container:before, .awemenu-nav .awemenu:after, .awemenu-nav .awemenu:before, .awemenu-left .awemenu .awemenu-item, .awemenu-outleft .awemenu .awemenu-item, .awemenu-right .awemenu .awemenu-item, .awemenu-outright .awemenu .awemenu-item {
  display: block;
}

.block-n, .awemenu-nav .awemenu-submenu, .awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu, .awemenu-mobile-bottom .awemenu {
  display: none;
}

.float-l, .awemenu-standard .awemenu > .awemenu-item, .awemenu-top .awemenu > .awemenu-item, .awemenu-bottom .awemenu > .awemenu-item {
  float: left;
}

.float-r, .awemenu-standard .awemenu > .awemenu-item.awemenu-item-right, .awemenu-top .awemenu > .awemenu-item.awemenu-item-right, .awemenu-right .awemenu, .awemenu-outright .awemenu, .awemenu-bottom .awemenu > .awemenu-item.awemenu-item-right {
  float: right;
}

.float-n, .awemenu-outright .awemenu {
  float: none;
}

.awemenu-nav {
  z-index: 9999;
}
.awemenu-nav:after, .awemenu-nav:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu-container:after, .awemenu-nav .awemenu-container:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu:after, .awemenu-nav .awemenu:before {
  content: '';
  clear: both;
}
.awemenu-nav .awemenu-submenu {
  z-index: 0 !important;
}
.awemenu-nav .awemenu-active > .awemenu-submenu {
  display: block;
  z-index: 1 !important;
}

.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu {
  width: 100%;
  left: 100%;
  top: 0;
}
.awemenu-standard .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-top .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert > .awemenu-submenu {
  left: auto;
  right: 100%;
}
.awemenu-standard.awemenu-sticky, .awemenu-sticky.awemenu-top {
  left: 0;
  right: 0;
  top: 0;
}

.awemenu-top {
  left: 0;
  right: 0;
  top: 0;
}

.awemenu-left .awemenu .awemenu-item .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item .awemenu-submenu {
  left: 100%;
  top: 0;
  width: 100%;
}
.awemenu-left .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-outleft .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu {
  left: auto;
  right: 100%;
}

.awemenu-right .awemenu .awemenu-item .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item .awemenu-submenu {
  right: 100%;
  top: 0;
  width: 100%;
}
.awemenu-right .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu, .awemenu-outright .awemenu .awemenu-item.awemenu-invert > .awemenu-submenu {
  right: auto;
  left: 100%;
}

.awemenu-outleft .awemenu-bars {
  display: block;
}
.awemenu-outleft .awemenu {
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.awemenu-outleft.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-outleft.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-outright .awemenu {
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.awemenu-outright.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-outright.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu {
  bottom: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item .awemenu-submenu {
  bottom: 0;
  width: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu .awemenu-item.awemenu-vertical-invert > .awemenu-submenu {
  bottom: auto;
  top: 0;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item .awemenu-submenu {
  width: 100%;
  left: 100%;
}
.awemenu-bottom .awemenu > .awemenu-item .awemenu-submenu.awemenu-dropdown .awemenu-item.awemenu-invert .awemenu-submenu {
  left: auto;
  right: 100%;
}

.awemenu-mobile-standard .awemenu, .awemenu-mobile-top .awemenu {
  left: 0;
  right: 0;
  top: 100%;
}
.awemenu-mobile-standard.awemenu-sticky, .awemenu-sticky.awemenu-mobile-top {
  left: 0;
  right: 0;
  top: 0;
}
.awemenu-mobile-standard.awemenu-sticky .awemenu, .awemenu-sticky.awemenu-mobile-top .awemenu {
  overflow-y: auto;
}

.awemenu-mobile-top {
  left: 0;
  right: 0;
  top: 0;
}
.awemenu-mobile-top .awemenu {
  overflow-y: auto;
}

.awemenu-mobile-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.awemenu-mobile-bottom .awemenu {
  overflow-y: auto;
  left: 0;
  right: 0;
  bottom: 100%;
}

.awemenu-mobile-outleft .awemenu, .awemenu-mobile-outright .awemenu {
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.awemenu-mobile-outleft.awemenu-active .awemenu, .awemenu-active.awemenu-mobile-outright .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-mobile-outleft.awemenu-sticky, .awemenu-sticky.awemenu-mobile-outright {
  top: 0;
  right: 0;
  left: 0;
}

.awemenu-mobile-outright .awemenu {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awemenu-mobile-outright.awemenu-active .awemenu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.awemenu-mobile-outright.awemenu-sticky {
  top: 0;
  right: 0;
  left: 0;
}

.animation .awemenu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.animation .awemenu-submenu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.animation .awemenu-fadeup > .awemenu-submenu {
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.animation .awemenu-fadedown > .awemenu-submenu {
  -webkit-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
  -o-transform: translate(0, -30px);
  transform: translate(0, -30px);
}
.animation .awemenu-fadeleft > .awemenu-submenu {
  -webkit-transform: translate(-100px, 0);
  -moz-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
}
.animation .awemenu-faderight > .awemenu-submenu {
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  transform: translate(100px, 0);
}
.animation .awemenu-zoom > .awemenu-submenu {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.animation .awemenu-rotateupleft > .awemenu-submenu {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.animation .awemenu-rotateupright > .awemenu-submenu {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animation .awemenu-flipx > .awemenu-submenu {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateX(-45deg);
  -moz-transform: rotateX(-45deg);
  -ms-transform: rotateX(-45deg);
  -o-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
}
.animation .awemenu-flipy > .awemenu-submenu {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transform: rotateX(45deg);
}
.animation .awemenu-flipyright > .awemenu-submenu {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.animation .awemenu-flipyleft > .awemenu-submenu {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: 100em;
  -moz-transform-style: 100em;
  -ms-transform-style: 100em;
  -o-transform-style: 100em;
  transform-style: 100em;
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.animation .awemenu-slideleft > .awemenu-submenu {
  -webkit-transform: translate(-30%, 0);
  -moz-transform: translate(-30%, 0);
  -ms-transform: translate(-30%, 0);
  -o-transform: translate(-30%, 0);
  transform: translate(-30%, 0);
}
.animation .awemenu-slideright > .awemenu-submenu {
  -webkit-transform: translate(30%, 0);
  -moz-transform: translate(30%, 0);
  -ms-transform: translate(30%, 0);
  -o-transform: translate(30%, 0);
  transform: translate(30%, 0);
}
.animation .awemenu-active > .awemenu-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0) scale(1);
  -moz-transform: translate(0, 0) rotate(0) scale(1);
  -ms-transform: translate(0, 0) rotate(0) scale(1);
  -o-transform: translate(0, 0) rotate(0) scale(1);
  transform: translate(0, 0) rotate(0) scale(1);
}
