/**
 * 1.0 Color
 * -----------------------------------------------------------------------------
 */
a:link,
a:visited,
#secondary-nav li a:hover,
#primary-nav .sf-menu li li a:hover,
#secondary-nav .sf-menu li li a:hover,
.content-area .entry-title a:hover,
.content-area .entry-category a,
#related-content .entry-title a:hover,
#recent-content:hover .see-all a,
#more-content:hover .see-all a,
.pagination .page-numbers:hover,
.pagination .page-numbers.current,
#secondary .widget ul li a:hover,
#secondary .tabs-widget .tabs-nav li.active a,
#secondary .tabs-widget .tabs-nav li a:hover,
#secondary .tabs-widget .tab-content .entry-title a:hover,
#featured-content .jcarousel-control-prev:hover .fa,
#featured-content .jcarousel-control-next:hover .fa,
#related-content .jcarousel-control-prev:hover .fa,
#related-content .jcarousel-control-next:hover .fa,
.dropcap {
	color: #DB8C2D;
}
.sf-mega-posts .entry-title a:hover {
	color: #DB8C2D !important;
}
/**
 * 2.0 Background
 * -----------------------------------------------------------------------------
 */
#featured-content .jcarousel-pagination a.active,
#carousel-1,
.more-content-link a:link,
.more-content-link a:visited,
.pagination .prev,
.pagination .next,
#respond button,
.subscribe-widget button,
#contact-form button,
#secondary-bar {
	background-color: #DB8C2D;
}
/**
 * 3.0 Border Color
 * -----------------------------------------------------------------------------
 */
#primary-nav ul li a:hover,
.section-title,
#secondary .widget .widget-title,
#recent-content:hover .section-title,
#more-content:hover .section-title,
#featured-content .jcarousel-control-prev:hover,
#featured-content .jcarousel-control-next:hover,
#related-content .jcarousel-control-prev:hover,
#related-content .jcarousel-control-next:hover {
	border-color: #DB8C2D;
}