/*----------------------------------------------------------------------
Theme Name: TheWorld 
Author: themejunkie
URI: http://themeforest.net/user/themejunkie
Description: Fresh Magazine Template
Version: 1.0.1
---------------------------------------------------------------------- */

/*-----------------------------------------------------------------------
[Table of contents]

1.0 - Reset
2.0 - Basic
3.0 - Structure
4.0 - Header
5.0 - Navigation
6.0 - Content
	6.1 - Featured Content
	6.2 - Latest Content
	6.3 - Editor's Picks
	6.4 - More Content
	6.5 - Pagination
	6.6 - Singular
	6.7 - Comments
7.0 - Sidebar
8.0 - Footer
9.0 - Misc
---------------------------------------------------------------------- */

/* 1.0 - Reset
---------------------------------------------------------------------- */

@import 'css/reset.css';

/* 2.0 - Basic
---------------------------------------------------------------------- */

body {
	background: #ffffff;
	color: #555555;
	font-family: "Titillium", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/titillium-light-webfont.eot');
	src: url('fonts/titillium-light-webfont.svg#titillium-light-webfont') format('svg'),
		 url('fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium-light-webfont.woff') format('woff'),
		 url('fonts/titillium-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/titillium-lightitalic-webfont.eot');
	src: url('fonts/titillium-lightitalic-webfont.svg#titillium-lightitalic-webfont') format('svg'),
		 url('fonts/titillium-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium-lightitalic-webfont.woff') format('woff'),
		 url('fonts/titillium-lightitalic-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/titillium-regular-webfont.eot');
	src: url('fonts/titillium-regular-webfont.svg#titillium-regular-webfont') format('svg'),
		 url('fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium-regular-webfont.woff') format('woff'),
		 url('fonts/titillium-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/titillium-regularitalic-webfont.eot');
	src: url('fonts/titillium-regularitalic-webfont.svg#titillium-regular-webfont') format('svg'),
		 url('fonts/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium-regularitalic-webfont.woff') format('woff'),
		 url('fonts/titillium-regularitalic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/titillium-semibold-webfont.eot');
	src: url('fonts/titillium-semibold-webfont.svg#titillium-semibold-webfont') format('svg'),
         url('fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium-semibold-webfont.woff') format('woff'),
         url('fonts/titillium-semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

input {
	border: 1px solid #e6e6e6;
	font-family: "Titillium", Arial, sans-serif;
	height: 40px;
	padding: 0 15px;
}

select{
	border: 1px solid #e6e6e6;
	font-family: "Titillium", Arial, sans-serif;
	height: 40px;
	padding: 0 15px;
}

textarea {
	font-family: "Titillium", Arial, sans-serif;
	border: 1px solid #e6e6e6;
	padding: 15px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
	box-shadow: 0 0 0 3px rgba(0,0,0,.05) !important;
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.05) !important;
}

button {
	font-family: "Titillium", Arial, sans-serif;
	border: none;
	height: 32px;
	padding: 0 15px;
}

button:hover {
	color: #ffffff;
}

a:link,
a:visited {
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

a:hover {
	text-decoration: none;
}

a:active {
	outline: none;
}

.clearfix:before, 
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* 3.0 - Structure
---------------------------------------------------------------------- */

.container {
	margin: 0 auto;
	width: 1080px;
	position: relative;
}

/* 4.0 - Header
---------------------------------------------------------------------- */

#masthead {
	background-color: #ffffff;
	width: 100%;
}

#logo {
	float: left;
	margin: 7px 50px 0 0;
}

.site-title {
	font-size: 32px;
	padding: 15px 0;
}

#secondary-bar {
	display: block;
	line-height: 48px;
	margin-bottom: 0;
	padding: 0 20px;
}

#secondary-bar .header-social-icons {
	color: #ffffff;
	float: right;
}

#secondary-bar .header-social-icons span {
	font-size: 14px;
}

#secondary-bar .fa {
	color: #ffffff;
	margin-left: 10px;
}

/* 5.0 - Reset
---------------------------------------------------------------------- */

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}

.sf-menu ul {
	position: absolute;
	background: #ffffff;
	display: none;
	top: 100%;
	left: 0;
}

.sf-menu > li {
	float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu ul {
	background: #ffffff;
	margin-top: 0;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.sf-menu ul ul {
	left: 170px;
	margin-top: 0;
}

.sf-menu a {
	padding: 0 15px;
	zoom: 1;
}

.sf-menu ul a {
	font-size: 1em;
}

.sf-menu li {
	z-index: 100;
}

.sf-menu ul li {
	width: 170px;
}

.sf-arrows .sf-with-ul {
	padding-right: 25px !important;
}

.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 2px;
	margin-top: -2px;
	margin-right: 7px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #ffffff;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #dddddd;
}

.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: 0px;
	border-color: transparent;
	border-left-color: #dddddd;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #dddddd;
}

#primary-nav {
	float: right;
}

#primary-nav .sf-arrows .sf-with-ul:after {
	visibility: hidden;
}

#primary-nav .sf-menu li {
	box-shadow: 1px 0 0 rgba(100,100,100,0.1) inset, 0 0 0 rgba(0,0,0,0.15) inset;
	float: left;
	text-align: left;
}

#primary-nav .sf-menu li li {
	box-shadow: none;
	width: 150px;
}

#primary-nav .sf-menu ul ul {
	left: 150px;
	top: -5px;
}

#primary-nav .sf-menu li a {
	border-top: 5px solid transparent;
	color: #333333;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 27px 25px;
	text-transform: uppercase;
}

#primary-nav .sf-menu li a:hover {
	color: #333333;
}

#primary-nav .sf-menu li li a {
	border-top: none;
	font-weight: bold;
}

#primary-nav .sf-menu li .menu-desc {
	color: #9f9f9f;
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}

#primary-nav .sf-menu li ul {
	border-top: 5px solid #e6e6e6;
	padding: 0 25px;
}

#secondary-nav {
	z-index: 50;
	position: relative;
}

#secondary-nav .sf-menu li a {
	color: #ffffff;
	display: block;
	font-size: 12px;
	padding: 0 20px;
	text-transform: uppercase;
}

#secondary-nav .sf-menu li ul {
	background: #ffffff;
	padding: 0 20px;
}

#secondary-nav .sf-menu li a:hover,
#secondary-nav .sf-menu li.current_item a {
	background: transparent url(images/overlay.png) repeat;
	color: #ffffff;
}

#secondary-nav .sf-menu li li a,
#primary-nav .sf-menu li li a {
	line-height: 1;
	border-bottom: 1px dotted;
	border-color: #dddddd !important;
	color: #555555;
	font-size: 13px;
	padding: 15px 0;
	text-transform: none;
}

#secondary-nav .sf-menu li li a:hover,
#primary-nav .sf-menu li li a:hover {
	background: #ffffff;
}

#secondary-nav .sf-menu li li:last-child a,
#primary-nav .sf-menu li li:last-child a {
	border-bottom: none !important;
}

.sf-menu .sf-mega {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega {
	display: block;
}

.sf-menu .sf-mega {
	box-shadow: 2px 3px 6px rgba(0,0,0,.2);
	width: 100%;
}

.sf-mega {
	background-color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}

.sf-menu .sf-mega h3 {
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sf-menu .sf-mega .sf-mega-section {
	float: left;
	width: 150px;
	margin-right: 20px;
}

.sf-menu .sf-mega .sf-mega-section ul li:first-child a {
	padding-top: 0 !important;
}

.sf-menu .sf-mega .sf-mega-section ul li:last-child a {
	padding-bottom: 0 !important;
}

.sf-mega-posts {
	float: left;
	width: 600px;
	border-left: 1px solid #e6e6e6;
}

.sf-mega-posts a {
	margin-bottom: 10px !important;
	padding: 0 !important;
	line-height: 1.3em !important;
}

.sf-mega-posts .entry-title a:link,
.sf-mega-posts .entry-title a:visited {
	background: none !important;
	color: #333333 !important;
	font-size: 14px !important;
	padding: 0 !important;
	margin: 0 !important;
	text-transform: none !important;
}

.sf-mega-posts .hentry {
	float: left;
	width: 180px;
	margin-left: 20px;
}

.sf-mega-posts .entry-thumbnail {
	width: 180px;
	height: auto;
}

.sf-mega ul {
	background: none !important;
	border: none;
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}

.sf-mega li {
	border: none;
	width: 150px;
}

.sf-mega li a {
	color: #333333;
	font-size: 13px;
	width: 150px;
}

#primary-nav .sf-menu .sf-mega {
	border-top: 5px solid #e6e6e6;
	padding: 25px;
}

.sf-menu .cols-4 {
	width: 811px;
}

.sf-menu .cols-3 {
	width: 582px;
}

#primary-nav .sf-menu .sf-mega .sf-mega-section {
	float: left;
	padding-right: 20px;
}

#primary-nav .sf-menu .sf-mega .last-section {
	border: none;
	padding: 0;
	margin: 0;
}

#primary-nav .sf-menu .sf-mega .sf-mega-section ul {
	border-top: none;
	margin-top: 0;
	top: 0;
}

#primary-nav .sf-menu .sf-mega .sf-mega-section ul li a {
	border: none;
	font-size: 13px;
	font-weight: normal;
	margin: 7px 0;
	padding: 0;
}

#primary-nav .sf-menu .sf-mega .sf-mega-section p {
	font-size: 13px;
	margin-top: 15px;
}

/* 6.0 - Content
---------------------------------------------------------------------- */

.entry-title .fa {
	font-size: 16px;
	margin-left: 12px;
}

.entry-title .fa-picture-o {
	color: #7cb600;
}

.entry-title .fa-youtube-play {
	color: #C92228;
}

.entry-thumbnail {
	-webkit-transition: opacity 150ms linear,-webkit-transform 100ms linear;
	transition: opacity 150ms linear;
}

.entry-thumbnail:hover {
	opacity: 0.8;
}

.entry-summary {
	margin-bottom: 15px;
}

.entry-share-icons {
	opacity: 0;
	visibility: hidden;
	font-size: 12px;
	-webkit-transition: opacity 250ms linear,-webkit-transform 100ms linear;
	transition: opacity 250ms linear;
}

.entry-share-icons .fa {
	margin-right: 6px;
}

.section-title {
	border-left: 5px solid;
	color: #333333;
	font-weight: bold;
	font-size: 15px;
	line-height: 1;
	margin-bottom: 20px;
	padding-left: 15px;
	position: relative;
	text-transform: uppercase;
}

.see-all {
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 3px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}

.see-all a:link,
.see-all a:visited {
	color: #9f9f9f;
}

#carousel-1 .section-title {
	border-color: #ffffff;
	color: #ffffff;
}

.hentry:hover .entry-share-icons,
#featured-content .entry-share-icons,
.entry-footer .entry-share-icons {
	opacity: 1;
	visibility: visible;
}

#more-content .entry-meta {
	margin-bottom: 7px;
}

#more-content .entry-title {
	margin-bottom: 10px;
}

/* 6.1 - Featured Content
---------------------------------------------------------------------- */

#featured-content {
	background-color: #222222;
	color: #999999;
	margin-bottom: 30px;
	padding: 40px 0;
	position: relative;
}

#featured-content .section-title {
	border-left-color: #ffffff;
	color: #ffffff;
	line-height: 1;
}

#featured-content a:hover {
	color: #ffffff;
}

#featured-content ul li {
	list-style: none;
}

#featured-content .hentry {
	position: relative;
}

#featured-content .entry-title {
	font-size: 38px;
}

#featured-content .entry-title a {
	color: #ffffff;
}

#featured-content .entry-thumbnail {
	float: left;
	width: 710px;
	height: 400px;
	margin: 0 20px 0 0;
}

#featured-content .entry-comment {
	top: 0;
	right: 0;
}

#featured-content #carousel-0 {
	position: relative;
}

#featured-content #carousel-0 ul li {
	width: 1080px;
}

#featured-content .jcarousel-pagination {
	position: absolute;
	bottom: 20px;
	left: 327px;
	width: auto;
	height: 10px;
	z-index: 999;
}

#featured-content .jcarousel-pagination a {
	border-radius: 50%;
	background-color: #ffffff;
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 7px;
	text-indent: -9999em;
}

#featured-content .jcarousel-control-prev,
#featured-content .jcarousel-control-next {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	border-radius: 50%;
}

#featured-content .jcarousel-control-prev {
	left: -61px;
}

#featured-content .jcarousel-control-next {
	right: -61px;
}

/* 6.2 - Recent Content
---------------------------------------------------------------------- */

#recent-content .hentry {
	float: left;
	width: 340px;
	margin: 0 30px 0 0;
	padding-bottom: 40px;
	position: relative;
}

#recent-content .last-post {
	margin-right: 0;
}

#recent-content .entry-thumbnail {
	margin: 0 0 5px 0;
	width: 100%;
	height: auto;
}

#recent-content .entry-title {
	font-size: 24px;
}

.entry-meta {
	line-height: 1;
}

.content-area .hentry .entry-title {
	line-height: 1.3;
	margin-bottom: 10px;
}

.content-area .hentry .entry-title a {
	color: #333333;
	font-weight: bold;
}

.content-area .hentry .entry-meta {
	color: #9f9f9f;
	margin-bottom: 10px;
}

.content-area .entry-category,
.content-area .entry-date {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.085em;
	text-transform: uppercase;
}

.content-area .entry-category a:hover {
	color: #333333;
}

.content-area .entry-author {
	margin-left: 7px;
}

.content-area .entry-category {
	margin-right: 7px;
}

.content-area .byline {
	color: #9f9f9f;
	font-size: 13px;
	margin-bottom: 10px;
}

.content-area .byline a {
	color: #9f9f9f;
	text-decoration: underline;
}

.content-area .byline a:hover {
	color: #333333;
	text-decoration: none;
}

.entry-comment {
	background: url('images/icon-comment.png') no-repeat;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 17px;
	width: 20px;
	height: 22px;
	position: absolute;
	top: 13px;
	right: 13px;
	text-align: center;
}

.entry-comment a:link,
.entry-comment a:visited {
	color: #ffffff !important;
	text-decoration: none !important;
}

/* 6.3 - Editors's Picks
---------------------------------------------------------------------- */

#carousel-1 {
	color: #ffffff;
	position: relative;
}

.carousel-loop {
	padding: 30px 0;
}

.carousel-loop li {
	list-style: none;
}

.carousel-loop .hentry {
	position: relative;
}

.carousel-loop .hentry .entry-thumbnail {
	margin-bottom: 5px;
	width: 100%;
	height: auto;
}

.carousel-loop .hentry .entry-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.carousel-loop .hentry .entry-title a:link,
.carousel-loop .hentry .entry-title a:visited {
	color: #ffffff;
}

.carousel-loop .hentry .entry-meta {
	color: #eeeeee;
}

.carousel-loop .hentry .entry-meta a {
	border-bottom: 1px dotted #eeeeee;
	color: #eeeeee;
}

.carousel-loop .hentry .entry-meta a:hover {
	border-bottom-color: #ffffff;
	color: #ffffff;
}

.jcarousel {
	position: relative;
	overflow: hidden;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
}

.carousel-loop .jcarousel {
	width: 100%;
	overflow: hidden;
}

.carousel-loop li {
	width: 200px;
	margin-right: 20px;
}

#carousel-1 .jcarousel-control-prev,
#carousel-1 .jcarousel-control-next {
	border-radius: 50%;
	border: 1px solid #ffffff;
	position: absolute;
	top: 105px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: -21px;
	text-align: center;
	color: #eeeeee !important;
	text-decoration: none;
	font-size: 1em;
}

#carousel-1 .jcarousel-control-prev:hover,
#carousel-1 .jcarousel-control-next:hover {
	border-color: #ffffff;
}

#carousel-1 .jcarousel-control-prev {
	left: -62px;
}

#carousel-1 .jcarousel-control-next {
	right: -62px;
}

#carousel-1 .inactive {
	color: #eeeeee !important;
	cursor: default;
	opacity: 0.5;
}

/* 6.4 - More Content
---------------------------------------------------------------------- */

#more-content {
	float: left;
	width: 750px;
	margin-top: 30px;
	margin-bottom: 40px;
}

#more-content .hentry {
	position: relative;
}

.single #more-content .hentry .entry-comment {
	top: 0;
	right: 0;
}

.content-loop ul {
	border-top: 1px solid #e9e9e9;
}

.content-loop li {
	list-style: none;
}

.content-loop .hentry {
	border-bottom: 1px solid #e9e9e9;
	position: relative;
	padding: 25px 0;
}

.content-loop .hentry .entry-title {
	color: #333333;
	font-size: 24px;
	font-weight: bold;
}

.content-loop .entry-thumbnail {
	float: left;
	margin: 0 20px 0 0;
	width: 200px;
	height: auto;
}

.content-loop .hentry .entry-comment {
	top: 25px;
	right: 0;
}

.more-content-link {
	margin: 30px 0 0 0;
}

.more-content-link a:link,
.more-content-link a:visited {
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
}

/* 6.5 - Pagination
---------------------------------------------------------------------- */

.pagination {
	font-size: 0.85em;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 50px 0;
	text-transform: uppercase;
	text-align: center;
}

.pagination .page-numbers {
	background: #f0f0f0;
	padding: 9px 14px;
	margin: 0 1px;
	display: inline-block;
	color: #333333;
	text-decoration: none;
}

.pagination .prev,
.pagination .next {
	color: #ffffff;
}

.pagination .prev:hover,
.pagination .next:hover {
	background-image: url(images/overlay.png);
	background-repeat: repeat;
	color: #ffffff !important;
}

/* 6.6 - Singular
---------------------------------------------------------------------- */

#related-content {
	background: #222222;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 0 30px;
	position: relative;
}

#related-content .section-title {
	border-left-color: #ffffff;
	color: #ffffff;
	text-transform: none;
}

#related-content ul li {
	float: left;
	list-style: none;
	margin: 0 20px 0 0;
	width: 255px;
}

#related-content .entry-meta {
	color: #999999;
	font-size: 10px;
	font-weight: bold;
	margin: 0 0 5px 0px;
	text-transform: uppercase;
}

#related-content ul li .entry-thumbnail {
	float: left;
	margin: 0 10px 0 0;
	width: 100px;
	height: auto;
}

#related-content .entry-title {
	font-size: 13px;
	font-weight: bold;
}

#related-content .entry-title a:link,
#related-content .entry-title a:visited {
	color: #ffffff;
}

#related-content .jcarousel-control-prev,
#related-content .jcarousel-control-next {
	border-radius: 50%;
	border: 1px solid #ffffff;
	position: absolute;
	top: 45px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 1em;
}

#related-content .jcarousel-control-prev {
	left: -62px;
}

#related-content .jcarousel-control-next {
	right: -62px;
}

#related-content .inactive {
	color: #f0f0f0 !important;
	cursor: default;
	opacity: 0.5;
}

.breadcrumbs {
	border-bottom: 1px solid #e9e9e9;
	font-weight: bold;
	padding: 0 0 30px 0;
}

.breadcrumbs h1 {
	font-weight: bold;
}

.post-nav {
	border-bottom: 1px solid #e9e9e9;
	color: #999999;
	font-size: 13px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.post-nav .post-nav-prev {
	float: left;
}

.post-nav .post-nav-next {
	border-left: 1px solid #dddddd;
	float: right;
}

.post-nav p {
	color: #999999;
	width: 49%;
	position: relative;
	text-align: center;
}

.post-nav .fa {
	position: absolute;
	top: 2px;
}

.post-nav .fa-angle-left {
	left: 0;
}

.post-nav .fa-angle-right {
	right: 0;
}

.post-nav a:hover {
	color: #333333;
}

h1.entry-title {
	color: #333333;
	font-weight: bold;
	margin-bottom: 15px;
}

.page-title {
	font-weight: bold;
}

#more-content .entry-content {
	margin-top: 20px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	font-weight: bold;
	margin-bottom: 15px;
}

.entry-content p {
	margin-bottom: 15px;
}

.entry-content strong {
	font-weight: bold;
}

.entry-content ul,
.entry-content ol {
	margin: 0 0 20px 20px;
}

.entry-content ul li {
	list-style: disc;
	margin: 5px 0;
}

.entry-content ol lo {
	list-style: decimal;
}

.entry-content blockquote {
	border-left: 10px solid #f0f0f0;
	color: #999999;
	font-style: italic;
	margin: 20px 0;
	padding-left: 20px;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

table th {
	border: 1px solid #e0e0e0;
	border-right: none;
	background-color: #fafafa;
	text-align: left;
	padding: 10px 15px;
	color: #444;
	vertical-align: top;
	font-size: 14px;
	font-weight: 600;
}

table td:last-child {
	border-right: 1px solid #e0e0e0;
}

table th:last-child {
	border-right: 1px solid #e0e0e0;
}

table td {
	padding: 10px 15px;
	border: #e0e0e0 1px solid;
	border-top: none;
	border-right: none;
}

table tr:hover td {
	background-color: #fafafa;
}

.author-box {
	border: 1px solid #e6e6e6;
	color: #999999;
	display: block;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 0 0 0 3px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.05);
}

.author-box .avatar {
	border-radius: 50%;
	margin: 0 20px 0 0;
	width: 64px;
	height: auto;
}

.author-box .author-title,
.author-box .author-title a {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.author-box p {
	font-size: 0.85em;
}

.entry-footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.entry-tags {
	margin-top: 10px;
}

.entry-tags a:link,
.entry-tags a:visited {
	color: #999999;
	font-size: 12px;
	margin-right: 7px;
	text-decoration: underline;
}

.entry-tags a:hover {
	color: #333333;
	text-decoration: none;
}

#contact-form label {
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

#contact-form input {
	width: 250px;
}

#contact-form textarea {
	width: 90%;
	height: 200px;
}

#contact-form button {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.members {
	margin: 0;
	padding: 0;
}

.members .member {
	padding: 2%;
	width: 45%;
	float: left;
	list-style: none;
}

.members .member:nth-of-type(2n+1) {
	clear: left;
}

.member-photo {
	float: left;
	width: 100px;
	max-width: 100%;
	margin-right: 30px;
}

.member-photo img {
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	width: 100%;
}

.member-photo .member-social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.member-photo .member-social li {
	display: inline-block;
	font-size: 12px;
	margin: 0 2px;
}

.member-content {
	position: relative;
	overflow: hidden;
}

.member-content:before {
	content: '';
	width: 36px;
	height: 3px;
	background: #dededc;
	position: absolute;
	top: 0;
}

.member-content .member-name {
	margin: 18px 0 0;
}

.member-content .member-position {
	color: #999;
}

.member-content .member-desc {
	font-size: 14px;
	line-height: 1.5em;
}

/* 6.7 - Comments
---------------------------------------------------------------------- */

#primary #comments {
	margin-top: 20px;
}

.comments-title {
	font-size: 1.4em;
	margin-bottom: 20px;
}

#respond {
	margin-top: 80px;
}

.reply-title {
	margin-bottom: 30px;
}

#comment-nav-below {
	display: block;
	clear: both;
	margin-bottom: 60px;
}

.no-comments {
	margin-bottom: 20px;
}

ol.commentlist {
	
}

ol.commentlist li {
	margin-bottom: 25px;
}

ol.commentlist li:first-child {
	border: none;
	padding: 25px 0 0px 0;
}

ol.commentlist li {
	list-style: none;
}

ol li ol.children {
	float: left;
	margin-left: 80px;
}

ol.commentlist li ol.children li:first-child {
	padding: 25px 0 0 0;
}

ol.commentlist li ol.children li:last-child {
	margin-bottom: 0;
}

ol.commentlist li ol.children li {
	margin: 0 0 25px 0;
}

ol li ol.children .comment-des {
	
}

.avatar {
	float: left;
	border-radius: 50%;
}

.comment-des p {
	margin: 0;
}

.comment-des {
	margin: 0 0 0 71px;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.comment-des:hover {
	box-shadow: 0 0 0 3px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.05);
}

.byuser .comment-des {
	border-color: #ffb400;
	background: #fff2bc;
}

.byuser .comment-des strong {
	font-weight: bold;
}

.comment-des strong {
	color: #555555;
	font-weight: bold;
}

.comment-by {
	font-size: 0.9em;
	width: 100%;
	padding-bottom: 8px;
	padding-top: 5px;
	position: relative;
}

.comment-by span.author {
	display: block;
}

.comment-by span.reply {
	color: #999999;
	font-size: 0.95em;
	top: 5px;
	right: 0;
	position: absolute;
}

.comment-by span.reply a,
.comment-by span.reply a:visited {
	color: #999999;
	font-weight: normal;
}

.comment-by p.date {
	color: #999;
	display: block;
	font-size: 0.9em;
}

#respond label {
	color: #999999;
	font-weight: normal;
}

#respond input {
	float: left;
	width: 211px;
	margin: 0 10px 10px 0;
}

#respond .comment-website {
	margin-right: 0;
}

#respond textarea {
	width: 718px;
	padding: 15px;
	margin-bottom: 10px;
}

#respond input,
#respond textarea {
	background: #ffffff;
	border: 1px solid #e6e6e6;
	font-size: 0.8em;
}

#respond input:hover,
#respond input:focus,
#respond textarea:hover,
#respond textarea:focus {
	border-color: #dddddd;
	box-shadow: 0 0 0 3px rgba(0,0,0,.05) !important;
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.05) !important;
}

#respond button {
	color: #ffffff;
	cursor: pointer;
	font-family: "Titillium", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	margin-bottom: 30px;
	padding: 0 15px;
	text-transform: uppercase;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

/* 7.0 - Sidebar
---------------------------------------------------------------------- */

#secondary {
	float: right;
	margin-top: 30px;
}

/* Widgets */

#secondary .widget {
	margin: 0 0 20px 30px;
	width: 300px;
}

#secondary .widget {
	background: #ffffff;
	margin-bottom: 20px;
}

#secondary .widget .widget-title {
	border-left: 5px solid;
	padding-left: 15px;
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#secondary .widget ul li {
	border-top: 1px solid #e9e9e9;
	color: #999999;
	list-style: none;
	padding: 12px 0;
}

#secondary .widget ul li a {
	color: #333333;
}

/* Ad Widget */

#secondary .ad-widget .widget-title {
	border: none;
	color: #9f9f9f;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

/* Subscribe Widget */

#secondary .subscribe-widget p {
	margin-bottom: 15px;
}

#secondary .subscribe-widget input {
	background: #ffffff;
	border: 1px solid #e6e6e6 !important;
	border: none;
	width: 180px;
	height: 34px;
	margin: 0;
	letter-spacing: 1px;
}

#secondary .subscribe-widget input:focus,
#secondary .subscribe-widget input:hover {
	
}

#secondary .subscribe-widget button {
	color: #ffffff;
	cursor: pointer;
	width: 82px;
	height: 36px;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

/* Tabs Widget */

#secondary .tabs-widget .tabs-nav {
	background-color: #f0f0f0;
	border-bottom: 1px solid #e9e9e9;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#secondary .tabs-widget .tabs-nav li {
	border-top: none;
	display: inline-block;
	list-style: none;
	overflow: hidden;
	position: relative;
	padding: 0;
}

#secondary .tabs-widget .tabs-nav li a {
	display: block;
	padding: 0 20px;
	color: #333333;
	font-size: 18px;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	text-transform: uppercase;
}

#secondary .tabs-widget .tab-content {
	border: none;
	background: #fff;
}

#secondary .tabs-widget .tab-content .entry-thumbnail {
	float: left;
	width: 64px;
	height: 64px;
	margin: 0 15px 0 0;
}

#secondary .tabs-widget .tab-content ul li {
	border-top: none;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0;
	line-height: 1.3;
	list-style: none;
	margin: 0;
}

#secondary .tabs-widget .tab-content ul li:last-child {
	border-bottom: none;
}

#secondary .tabs-widget .tab-content ul li .entry-title {
	font-size: 14px;
	font-weight: bold;
}

#secondary .tabs-widget .tab-content ul li .entry-meta {
	margin-top: 5px;
	color: #9f9f9f;
	font-size: 11px;
	text-transform: lowercase;
}

#secondary .tabs-widget #tab4 {
	margin-top: 15px;
}

#secondary .tabs-widget #tab4 a {
	display: inline-block;
	font-size: 0.8em !important;
	margin: 0 3px 3px 0;
	text-align: center;
	text-transform: lowercase;
}

/* 8.0 - Footer
---------------------------------------------------------------------- */

#footer {
	background-color: #222222;
	color: #999999;
	font-size: 12px;
	padding: 20px 0 30px 0;
	position: relative;
	z-index: 999;
}

#footer .widget {
	font-size: 13px;
	padding-top: 30px;
}

#footer .widget-title {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#footer .widget p {
	margin-bottom: 15px;
}

#footer .widget li {
	list-style: none;
	margin-bottom: 15px;
}

#footer .widget li a,
#footer .widget li a:visited {
	color: #999999;
}

#footer .widget li a:hover {
	color: #ffffff;
}

.footer-column-1,
.footer-column-2,
.footer-column-3,
.footer-column-4 {
	float: left;
	width: 255px;
	padding: 0 20px 0 0;
}

.footer-column-4 {
	padding-right: 0;
}

.posts-thumbnail-widget li:before,
.posts-thumbnail-widget li:after {
	content: "";
	display: table;
}

.posts-thumbnail-widget li:after {
	clear: both;
}

.posts-thumbnail-widget li {
	*zoom: 1
}

.posts-thumbnail-widget .entry-thumbnail {
	float: left;
	margin: 0 10px 0 0;
}

#footer .subscribe-widget button {
	color: #ffffff;
	cursor: pointer;
	height: 36px;
	text-transform: uppercase;
}

#footer .subscribe-widget input {
	background: #ffffff;
	border: none;
	width: 120px;
	height: 36px;
	margin: 0;
}

/* Site Bottom */

#site-bottom {
	color: #999999;
	margin: 0;
	padding: 20px 0 0;
	text-align: center;
}

#site-bottom a,
#site-bottom a:visited {
	color: #ffffff;
}

#site-bottom a:hover {
	color: #ffffff;
}

#footer-nav {
	margin-bottom: 30px;
}

#site-bottom ul li {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	list-style: none;
	margin: 0 10px;
	text-transform: uppercase;
}

#site-bottom ul li li {
	display: none;
}

#site-bottom p {
	margin-bottom: 15px;
}

.copyright {
	font-size: 12px;
}

.footer-social-icons {
	font-size: 16px;
	margin-bottom: 30px;
}

.footer-social-icons .fa {
	margin: 0 10px;
}

/* 9.0 - MISC.
---------------------------------------------------------------------- */

button:hover,
.btn:hover,
.more-content-link a:hover {
	background-image: url(images/overlay.png) !important;
	background-repeat: repeat;
}

/* CSS3 Tooltip */

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after {
	background: #333;
	background: rgba(0,0,0,.8);
	bottom: 24px;
	color: #fff;
	content: attr(title);
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	left: -10%;
	padding: 3px 10px 2px;
	position: absolute;
	z-index: 98;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 30%;
	position: absolute;
	z-index: 99;
}

/* Social Icons */

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-google-plus {
	color: #dd4b39;
}

.fa-linkedin {
	color: #007bb6;
}

.fa-pinterest {
	color: #C92228;
}

.fa-rss {
	color: #f0b70c;
}

.fa-envelope-o {
	color: #aad450;
}

.header-ad {
	background: #f0f0f0;
	height: 90px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}

.dropcap {
	float: left;
	font-size: 58px;
	line-height: 54px;
	padding-top: 4px;
	padding-right: 10px;
	margin-top: -2px;
}

.required {
	color: red;
}

.left-sidebar #more-content {
	float: right;
}

.left-sidebar #secondary {
	float: left;
}

.left-sidebar #secondary .widget {
	margin-left: 0;
}

.one-column {
	float: none;
	width: 100% !important;
}