.hidden { display: none; }

.notice * {
    box-sizing: border-box;
}

.notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.notice > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: black;
    opacity: .85;
}

.notice > .content22 {
    position: relative;
    z-index: 1;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 20px;
}

.notice > .content22 p,
.notice > .content22 a.close {
    font-size: 1.00em;
    line-height: 1.5em;
    color: white;
}

.notice > .content22 a.close {
    display: block;
    float: right;
    padding: 8px 10px;
    margin: 0 0 0 1em;
    #border: 1px solid white;
    text-decoration: none;
	background-color: #BD0000;
}

.notice > .content22 a.close:hover {
    background-color: green;
    color: white;
}