@charset "UTF-8";
/* CSS Document 
Author Name: Saptarang
Author URI: http://www.saptarang.org
Themeforest: http://themeforest.net/user/saptarang?ref=saptarang
Creation Date: 15 July, 2015
Description: A default stylesheet for Striking Interior Design Template, Designed & Developed By Saptarang.

------------ TABLE OF CONTENT ------------

- PRIMARY COLOR
- SECONDARY
- DARK GREY
- LIGHT
- ERROR / COMING SOON PAGE

*/
/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- PRIMARY 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
a, a:focus, .prime, a, ul.list-default li:before, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li:hover a, .breadcrumbs .rightText a:hover, #testimonials h4, .panel-default > .panel-heading h4 a:before, .navbar-default .navbar-nav li > .sub-nav li > a:before, blockquote div.author::before, .recent-project ul.bxslider li .project-data li strong, .member-info .meta-data strong, h1.big strong, #contact .info_content h5, .frame > div .oops, .styled div span, .missing ul.list-inline li:hover i, .links li a:hover, .post-meta li a:hover, .post-meta li:hover::before, article.format-quote div.author h5, aside.widget input[type="submit"], aside .widget-title strong, aside.widget ul li span, aside.widget ul li a:hover, .post-header h3 a:hover, .post-navigation a:hover, .post-navigation a i, .sitemap a:hover, .staff .member .info h4, .staff .member .info .bio li i {
  color: #ec407a; }

/* Background PRIMARY */
.btn-primary, .btn-primary:focus, .btn-primary.focus, button:focus, .BGprime, .btn-light:hover, .navbar-nav li .sub-nav li .sub-nav li:hover, .navbar-nav li .sub-nav li .sub-nav li .sub-nav li:hover, .promoBox .commercial:hover .absShape, .staff .team.rectangle:hover .info, .staff.opt .team.rectangle:hover .info, .staff .team.square:hover .info, .staff.opt .team.square:hover .info, ul.list-main li:hover:before, td.xdsoft_today > div, td.xdsoft_current > div, td.xdsoft_date > div:hover, .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current, .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover, .xdsoft_datetimepicker .xdsoft_calendar .xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box .xdsoft_time:hover, .btn-dark:hover, .nav-tabs > li.active, .nav-tabs > li:hover, .item a.link i, button.active, .square1, .post-date, .post-footer .more:hover, .widget.tags a:hover, .navbar-nav li .sub-nav li:hover, #comments .comment-box .comment-meta a.btn:hover, ul.social li:hover a, .pagination > li > a.active, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .navbar-nav li.sub > .sub-nav > li.sub span.clicks, #menu.in .navbar-nav li.sub > span.clicks, footer.footer2 .social a:hover {
  background-color: #ec407a; }

/* use rgba values here */
.BGprime.opaque, .square1.opaque {
  background-color: rgba(236, 64, 122, 0.8); }

.promoBox .BGprime.opaque {
  background-color: rgba(236, 64, 122, 0.9); }

.promoBox .commercial:hover a {
  background-color: rgba(236, 64, 122, 0.5); }

.navbar-nav > li > .sub-nav, .navbar-nav > li > .sub-nav > li > .sub-nav > li > .sub-nav, .coming ul.list-inline li:hover i, .missing ul.list-inline li:hover i {
  border-color: #ec407a; }

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- SECONDARY 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
a:hover, .sec, .btn-sec, .stat h4, footer .office span i, .navbar-default .navbar-nav li > .sub-nav li > .sub-nav li > a:before, .copyright a:hover, .recent-project ul.bxslider li .project-data li:hover i, .post-meta li::before, .calltoAction .widget i.opaque, footer .widget .category-post:hover a, .staff .member .info h4:hover, .header-top span i, .stat i, footer.footer2 a:hover, footer.footer2 .copyright ul li a:hover {
  color: #7cb342; }

/* Background SECONDARY */
.BGsec, .btn-sec, .btn-primary:hover, .navbar-nav li .sub-nav li .sub-nav li .sub-nav li:hover, i.square.BGsec, .promoBox .residential:hover .absShape, .line, .xdsoft_datetimepicker .xdsoft_calendar th, a.top, .smallSlider .bx-wrapper .bx-controls-direction a i, .bx-wrapper .bx-pager.bx-default-pager a.active, .navigation i:hover, .styled .roun, .project-gallery .gallery-heading li:hover img, .styled .round, .item a.zoom i, .square2, .post-media a.zoom i, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .image a.zoom, .team .social a:hover, .career .panel-default > .panel-heading h4.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #7cb342; }

/* use rgba values here */
.BGsec.opaque, .square2.opaque {
  background-color: rgba(124, 179, 66, 0.8); }

.promoBox .BGsec.opaque {
  background-color: rgba(124, 179, 66, 0.9); }

.promoBox .residential:hover a {
  background-color: rgba(124, 179, 66, 0.5); }

#testimonials .pic::before, #testimonials .pic::after, .form-control:focus, .recent-project ul.bxslider li .project-data li:hover i, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: #7cb342; }

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- DARK 
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
h1, h2, h3, h4, h5, h6, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li:hover ul li a, #testimonials h4 span, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .xdsoft_datetimepicker .xdsoft_month span, .xdsoft_datetimepicker .xdsoft_year span, i.square.BGlight, i.squareSmall.BGlight, i.square.outline, i.squareSmall.outline, a.outline, a.outline:hover, .btn.btn-default, .btn.btn-default:hover, .navbar-default .navbar-nav li > .sub-nav li > .sub-nav li > .sub-nav li > a:before, .btn-light, .project-gallery.recent .item h6, .links li a, .post-meta li a, aside.widget ul li a, .post-header h3 a, .widget.tags a, .post-navigation a, .pagination > li > a, .sitemap a, .nav-tabs > li a {
  color: #424141; }

/* Background Color4 */
.BGdark, .btn-sec:hover, .breadcrumbs, .team .social i:hover, .btn-dark, .navbar-default .navbar-toggle .icon-bar, a.outline.light:hover, .btn.btn-default.light:hover, .square3, .project-gallery.opt2 .item h6 {
  background-color: #424141; }

/* use rgba values here */
.BGdark.opaque, .square3.opaque {
  background-color: rgba(66, 65, 65, 0.8); }

i.square.outline, i.squareSmall.outline, .btn-default, .frame > div .oops, .styled .round, .calltoAction .btn-default.light:hover {
  border-color: #424141; }

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- LIGHT
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
/* Background LIGHT */
.BGlight, .panel-default > .panel-heading, ul.list-main li:before, .form-control, .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div, .jumbotron, .nav-tabs > li, .bx-wrapper .bx-pager.bx-default-pager a, .widget.tags a, .btn-light, .recent .item h6, .table.table-striped > thead:first-child > tr:first-child > th {
  background-color: #f4f2ee; }

.BGlight.opaque, .client, .post-footer .more, .post-footer, .single-post .post-header, #respond, .panel-group .panel, ul.sitemap.list-main.bordered li.sub ul li:hover, .project-data li:hover, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td, .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(244, 242, 238, 0.3); }

/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= \
----- ERROR / COMING SOON PAGE
\ +=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
#top.missing section, #top.coming section {
  background-color: #f4f2ee; }

#top.missing, #top.coming {
  background-color: #dad4c9; }
