
.table {
  font-size: 12px
}

.table a {
  text-decoration: none
}

.table caption {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: left;
  text-transform: uppercase;
  color: #222;
}

.table caption small {
  text-transform: none;
  color: #868a98;
}

.table caption span {
  color: #868a98;
}

.table caption h3,
.table caption h4 {
  margin: 0 0 5px;
  text-transform: none;
}

.table th,
.table td {
  border-top-color: #d5d5d5;
}

.table thead th {
  background: #e1e4ea;
}



.table-bordered {
  border-color: #d5d5d5
}

.table-bordered th,
.table-bordered td {
  border-left-color: #d5d5d5;
}

.table-bordered thead + tbody tr:first-child th,
.table-bordered thead + tbody tr:first-child td,
.table-bordered tfoot + tbody tr:first-child th,
.table-bordered tfoot + tbody tr:first-child td {
  border-top: 0;
}

.table-content {
  margin: 0;
}

.table-content {
  margin: 0;
  border-collapse: separate;
*border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.table-content th,
.table-content td {
  border-left: 1px solid #d5d5d5;
}

.table-content th:first-child,
.table-content td:first-child {
  border-left: none;
}

.table-content thead + tbody tr:first-child th,
.table-content thead + tbody tr:first-child td,
.table-content tfoot + tbody tr:first-child th,
.table-content tfoot + tbody tr:first-child td,
.table-content caption + thead tr:first-child th,
.table-content caption + tbody tr:first-child th,
.table-content caption + tbody tr:first-child td,
.table-content colgroup + thead tr:first-child th,
.table-content colgroup + tbody tr:first-child th,
.table-content colgroup + tbody tr:first-child td,
.table-content thead:first-child tr:first-child th,
.table-content tbody:first-child tr:first-child th,
.table-content tbody:first-child tr:first-child td {
  border-top: 0;
}

.table tr.condensed th {
  padding: 4px 8px;
}

.table-light th,
.table-light td {
  border-top: none !important;
  border-left: none !important;
}

.table-light thead th,
.table-light thead td {
  background: transparent !important;
  border-bottom: 1px solid #d1d2d5;
}

/* Checkbox
 ------------------------------------------- */

.table .check-col {
  width: 20px;
}

/* Zebra
 ------------------------------------------- */

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f7f7f7;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background: #e5fecb;
  border-top-color: #b3d58f;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

.table tbody tr.error td {
  background-color: #f2dede;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.success td {
  background-color: #dff0d8;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}

.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}

/* Table Tool 
 ------------------------------------------- */

.table-tool {
  border-top: 1px solid #b4b7be;
  font-weight: bold;
  padding: 4px 10px;
  position: relative;
  background: #d3d5da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(2%, #ebedf2), color-stop(85%, #d3d5da));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ebedf2 2%, #d3d5da 85%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ebedf2 2%, #d3d5da 85%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ebedf2 2%, #d3d5da 85%);
  background: -o-linear-gradient(top, #ffffff 0%, #ebedf2 2%, #d3d5da 85%);
  background: linear-gradient(top, #ffffff 0%, #ebedf2 2%, #d3d5da 85%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffd3d5da', GradientType=0 );
 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.table-tool:before,
.table-tool:after {
  display: table;
  content: "";
}

.table-tool:after {
  clear: both;
}

.table-tool .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

.well-box .table-tool,
.widget .widget-header + .table-tool {
  border-top: none;
}

/* Table Action column
 ------------------------------------------- */

th.action {
  text-align: center;
}

td.action {
  text-align: right;
}

td.action a.icon {
  display: inline-block;
*display: inline;
  padding-left: 4px;
  padding-right: 4px;
*zoom: 1;
}

td.text-center,
.total th.text-center {
  text-align: center;
}

td.text-right,
.total th.text-right {
  text-align: right;
}



body {
	margin: 0px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
        background-color: rgb(255, 255, 255);
}
a, a:visited { color:#0000ff; }
.listadoTabla, a.listadoTabla, a.listadoTabla:visited
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
/*	color: #9aa237;*/
#menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
#menu a { color:#fff; text-decoration:none; }
#menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;}
#menu > li a:hover {color:#B0D730;}
#menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
/* sub-menus*/
#menu ul { padding:0px; margin:0px; display:block; display:inline;}
#menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:150px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
#menu li:hover ul { display:block;}
#menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
#menu li ul li:first-child { border-top: none; }
#menu li ul li a { display:block; color:#0395CC; }
#menu li ul li a:hover { color:#7FCDFE; }
/* main submenu */
#menu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:999;}
/* search */
.searchContainer div { background-color:#fff; display:inline; padding:5px; }
.searchContainer input[type="text"] {border:none;width: 100px; }
.searchContainer img { vertical-align:middle;}
/* corners*/
#menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
#menu .corner_inset_right { position:absolute; top:0px; left:150px;}
#menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
#menu .corner_left { position:absolute; left:0px; top:0px;}
#menu .corner_right { position:absolute; left:132px; top:0px;}
#menu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}



.buttonmario {
        display: inline-block;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.buttonmario:hover {
        text-decoration: none;
        color:#ffffff;
}
.buttonmario:active {
        position: relative;
        top: 1px;
}

.mediummario {
        font-size: 12px;
        padding: .4em 1.5em .42em;
}
.smallmario {
        font-size: 10px;
        padding: .2em 1em .275em;
}
.minimario {
        font-size: 8px;
        padding: .2em 0.5em .275em;
}

.orangemario {
        color: #fef4e9;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orangemario:hover {
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orangemario:active {
        color: #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.gray {
        color: #e9e9e9;
        border: solid 1px #555;
        background: #6e6e6e;
        background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
        background: -moz-linear-gradient(top,  #888,  #575757);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
        background: #616161;
        background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
        background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
        color: #afafaf;
        background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
        background: -moz-linear-gradient(top,  #575757,  #888);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
        color: #606060;
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top,  #fff,  #ededed);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* red */
.red {
        color: #faddde;
        border: solid 1px #980c10;
        background: #d81b21;
        background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
        background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
red:hover {
        background: #b61318;
        background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
        background: -moz-linear-gradient(top,  #c9151b,  #a11115);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
        color: #de898c;
        background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
        background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
        color: #d9eef7;
        border: solid 1px #0076a3;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
        background: -moz-linear-gradient(top,  #00adee,  #0078a5);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        background: -moz-linear-gradient(top,  #0095cc,  #00678e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
        color: #80bed6;
        background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
        background: -moz-linear-gradient(top,  #0078a5,  #00adee);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
.rosy {
        color: #fae7e9;
        border: solid 1px #b73948;
        background: #da5867;
        background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
        background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
        background: #ba4b58;
        background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
        background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
        color: #dca4ab;
        background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
        background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green, .green:visited {
        color: #e8f0de;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
        color: #a9c08c;
        background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
        background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
.green:hover {
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
        color: #a9c08c;
        background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
        background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* Formato de hoja de estilos de ejemplo de la tabla */
/* colocar en header.php: */
/* <link href="tabla.css" rel="stylesheet" type="text/css" /> */
/* Para usarlo: <table class='tabla' ... >*/
/* */
/* Se incluye tambien ejemplos de estilos de botones */
/* Para usarlo: <a class='buttonmario mediummario orangemario' ... > */
/* para los popups */


