
body {
	background-repeat: repeat-y;
	background-image:url('../images/fondo_960.jpg');
	background-position:center;
	font-family:Lucida Sans Unicode, Lucida Grande,arial, times new roman, tahoma;
	font-size: 11px;
	margin: 0px;
	text-align:justify;

}
/*
 	color: #71767F;
*/
.form{
	/*background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #F18F03;
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;*/
	margin:0px auto 0;
	padding:20px;
	padding-right:20px;
	width:788px;
	margin-left:30px;
	margin-bottom:20px;
	
	/*margin-top:20px;*/
}

div.formulario {
	/*background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:30px auto 0;
	padding:20px;
	width:1040px;
}



form p{
	margin-bottom:20px;
	
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}

label0{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:5px;
	width:50px;
}

label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:5px;
	width:80px;
}

label2{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:15px;
	margin-bottom:2px;
	margin-right:5px;
	width:110px;
}

label3{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:5px;
	width:150px;
	
}
label4{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:5px;
	width:200px;
	
}


label5{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:5px;
	width:400px;
	
}


form p:hover label{
	color:#0459b7;
}
form p:hover label:after{
	content:" >";
}


input[type=text],
input[type=password]{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:3px;
}
/*
	margin-right: 20px;
*/
.input_registro{
	background: #F18E00;
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:0px;
	margin-right: 2px;
}

select {
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:3px;
	margin-right: 20px;
	height: 25px;
}
input[type=file]
{
	border:1px solid #aaa;
}

input[type=text]:focus,
select, input[type=file],
input[type=password]:focus{
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
select, input[type=file]{
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus, input[type=file]{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
textarea{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
	margin-right: 20px;
}
textarea:active,
textarea:focus{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}

input[type=button] {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #259C36, #57CA67); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#57CA67), to(#259C36)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:10px;
	margin-left:10px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}



input[type=button]:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #48C259, #44E85B);
	background:-webkit-gradient(linear, left top, left bottom, from(#44E85B), to(#48C259));
	border-color:#093c75;
	text-decoration:none;
}


input[type=submit]:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
}
input[type=button]:active,
input[type=button]:focus,
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
}
#options{
	margin-bottom:20px;
}
#options p{
	display:none;
}
#options .show{
	display:block;
}
#options:target .show{
	display:none;
}
#options .hide{
	display:none;
}
#options:target .hide{
	display:block;
}
#options:target p{
	display:block;
}
#finish{
	background:rgba(65, 166, 42, 0.2);
	border:2px solid #41a62a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:none;
	padding:5px 10px;
}
#finish:target{
	display:block;
}
#credits{
	font-size:11px;
	margin-top:20px;
	text-align:center;
}

.albaranLabel{
	cursor:pointer;
	display:inline;
	float:none;
	font-size:13px;
	line-height:normal;
	margin-bottom:5px;
	margin-right:5px;
	width:auto;
}
